@import './color.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather';
  scroll-behavior: smooth;
}

.logo {
  background-image: url('../svg/logo.svg');
  width: 212px;
  height: 30px;
}

.header {
  margin-top: 29px;
}

.header h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px; /* когда экран больше - то 60px */
  color: var(--text-main);
  margin: 0;
}

.header h2:nth-child(1) {
  text-align: start;
}

.header h2:nth-child(2) {
  text-align: center;
}

.description p {
  font-size: 18px;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.buttons a {
  text-decoration: none;
}

.buttons a button {
  width: 335px;
  height: 47px;
  text-align: center;
  border-radius: 66px;
  margin: 16px 16px 0 0;
  border: none;
}

.buttons a:nth-child(1) button {
  background-color: var(--button-dark);
  color: var(--button-light-text);
}
.buttons a:nth-child(2) button {
  background-color: var(--button-light);
  color: var(--button-dark-text);
  opacity: 90%;
}

.top_content {
  background-image: url('../svg/header_city.svg');
  background-repeat: no-repeat;
  background-position: 65%;
  background-size: cover;

  height: 723px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-top: 15px;
}

.top {
  width: 90%;
}

.block_1 p {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 28px;
}

.block_1 div {
  background-image: url('../svg/chess_play.svg');
  width: 100%;
  height: 213px;
  background-repeat: no-repeat;
}

.block_1 span {
  color: var(--color-accent);
  font-weight: 400;
}

.block_2 p {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 28px;
}

.block_2 div {
  width: 374px;
  height: 402px;
  background-repeat: no-repeat;
}

.man_chess {
  width: 100%;
  background: url('../svg/man_chess.svg');
}

.animated_hand {
  background-image: url('../svg/hand.svg');
  background-position: bottom right;
  position: relative;
  top: 20%;
  animation: radial-swing 2s ease-in-out infinite;
  transform-origin: right;
}

@keyframes radial-swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.block_2 span {
  color: var(--color-accent);
  font-weight: 400;
}

.block_3 div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border-bottom: 2px solid var(--border-secondary);
  padding: 15px;
}

.block_3 div p {
  font-size: 20px;
  margin: 5px;
}

.block_3 div p:nth-child(1) {
  color: var(--text-main);
  opacity: 70%;
}
.block_3 div p:nth-child(2) {
  color: var(--text-main);
  font-weight: bold;
}
.s {
  text-decoration: var(--color-accent) line-through;
}

.blue_text {
  color: var(--text-blue);
  font-size: 18px;
}

.phases_carousel h2 {
  font-size: 36px;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.phases_carousel p {
  margin: 0;
}

.phases_carousel p:nth-child(2) {
  padding: 0 35px;
  word-break: break-word;
}

#carousel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  overflow: scroll;
}

#carousel container {
  background-image: url('../svg/cooper_bg.svg'), url('../svg/phase_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 335px;
  height: 300px;

  margin: 0 15px;
}
#carousel container div {
  width: 330px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 36px;
  border-radius: 60px;
  font-weight: bold;

  color: var(--text-main);
  background-color: var(--white);
}

.members_carousel h2 {
  font-size: 36px;
  font-weight: 100;
  text-transform: uppercase;
}

#members {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  overflow: scroll;
}

#members div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 335px;
  height: 388px;
  padding: 0 45px;
}

#members img {
  width: 244px;
  height: 244px;
  border-radius: 50%;
  background-image: url('../svg/member.svg'), url('../svg/member_bg.svg');
  margin-bottom: 25px;
}

#members button {
  width: 113px;
  height: 35px;
  border-radius: 62px;
  border: 1px solid var(--text-blue);
  color: var(--text-blue);
  background: transparent;
  margin-top: 20px;
}

#members h4 {
  margin: 0;
  padding: 0;
}

#members p {
  margin: 5px 0 0 0;
  padding: 0;
}

marquee {
  background-color: var(--color-accent);
  color: var(--text-light);
  text-transform: uppercase;
  padding: 10px 0;
}

footer {
  background-color: var(--bg-secondary);
}

footer p {
  color: var(--text-main);
  text-align: start;
  margin: 0;
  padding: 45px;
  opacity: 60%;
}
